@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@200&family=Roboto:wght@500&display=swap');

$mainFont:'Roboto', sans-serif;
$secundariFont:'Poppins', sans-serif;
$terciariFont:'Pacifico', cursive;

//sizings

$textLG:1.5em;
$textMd:1.3em;
$textSm:1em;
$textSsm:0.6em;

//